{% extends "registration/base1.html" %}

{% load crispy_forms_tags %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow">
                <div class="card-body">
                    <h2 class="text-center text-danger mb-4">Welcome back!</h2>
                    
                    <form method="post">
                        {% csrf_token %}
                        {{form|crispy}}
                        
                        <div class="text-center mt-3">
                            <button type="submit" class="btn btn-danger btn-block">Login</button>
                        </div>
                    </form>

                    <hr class="my-4">

                    <p class="text-center">Don't have an account yet?</p>
                    
                    <div class="text-center">
                        <a href="{% url 'register' %}" class="btn btn-outline-danger btn-block">Register Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-12 text-center">
            <p class="lead">Join our community and make a difference in the world through blood donation. Your contribution matters!</p>
        </div>
    </div>
</div>
{% endblock content %}
