{% extends "Blood_Donation/base.html" %}

{% block content %}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-8 offset-md-2 text-center">
            <h1 class="text-danger mb-4">Connect & Save Lives</h1>

            <p class="lead">Thank you for being a potential lifesaver! Your interest in blood donation makes a world of difference.</p>

            <div class="card mt-4">
                <div class="card-body">
                    <h4>Contact Information</h4>
                    <p>Email: <a href="mailto:info@blooddonation.org">info@blooddonation.org</a></p>
                    <p>Phone: <a href="tel:+1234567890">+123 456 7890</a></p>
                    <p>Address: 123 Donation Street, Cityville, Country</p>
                </div>
            </div>

            <div class="mt-4">
                <h4>Quick Message About Blood Donation</h4>
                <p class="lead">Be a hero, donate blood! Your small act of kindness can bring joy, hope, and life to those in need. Join us in making a positive impact on the world.</p>
            </div>

            <div class="mt-4">
                <p>Follow us on social media for updates and inspiring stories:</p>
                <a href="#" class="btn btn-primary"><i class="fab fa-facebook-f"></i> Facebook</a>
                <a href="#" class="btn btn-info"><i class="fab fa-twitter"></i> Twitter</a>
                <a href="#" class="btn btn-danger"><i class="fab fa-instagram"></i> Instagram</a>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
